body {
	margin: 0 15px;
}

h1 {
	font-size: 30px;
}

h2 {

}

p {
	font-family: Courier New, Courier, monospace;
	font-size: 16px;
	letter-spacing: 1px;
}

img {
	max-width: 100%;
	margin-bottom: 30px;
}

figure {
	margin: 0;
}

@media screen and (min-width: 440px) {
	body {
		background-color: rgb(167, 224, 241);
	}
}
