body {
  margin: 0 15px;
  background-color: rgb(153, 255, 187);
}

.main-title {
  font-size: 30px;
  margin: 20px 40px 30px 40px;
}

h2 {
  margin-left: 180px;
}

p {
  font-family: Courier New, Courier, monospace;
  font-size: 20px;
  margin: 0 20px;
}

ol {
  margin-left: 60px;
  line-height: 30px;
}

li {
  font-weight: 700;
  color: blue;
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.images div {
  text-align: center;
}

img {
  width: 60%;
  border-radius: 40px;
  transition: transform 200ms;
  border: black 1px solid;
}

img:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  border: 0;
}

figure {
  margin-bottom: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0 0 80px 0;
}

@media screen and (min-width: 375px) and (max-width: 600px) {
  body {
    background-color: rgb(167, 224, 241);
    margin: 0 10px;
  }

  .main-title {
    font-size: 26px;
  }

  p {
    font-family: monospace;
    line-height: 120%;
    font-size: 18px;
  }

  .images {
    column-count: 1;
  }
}
