* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(230 , 230 , 230);
}

.main-title {
  text-align: center;
  margin-top: 30px;
  padding-top: 60px;
}

#cabecalho {
  text-align: center;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.cab-text {
  list-style: none;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Courier New, Courier, monospace;
}

.cab-text li:hover {
  color: rgb(0 , 179 , 30);
  font-weight: 700;
}

#rodape {
  overflow: hidden;
  position: fixed;
  padding: 10px;
  width: 100%;
  background-size: 100%;
  bottom: 0;
  background-color: rgba(255 , 255 , 255 , 0.856);
}

img {
  width: 350px;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: left;
}

.clear {
  clear: both;
}

ul , ol {
  padding: 20px;
}

.italic-bold {
  font-weight: 800;
  font-style: italic;
}

.explanation {
  background-color: rgb(218 , 255 , 242);
  padding-top: 20px;
  margin: auto;
  border: rgba(180 , 180 , 180 , 0.658);
  border-style: solid;
  width: 80%;
  margin-bottom: 40px;
}

.explanation h2 {
  padding: 20px;
  text-indent: 5%;
  background-color: rgba(112 , 191 , 255 , 0.13);
}

.explanation p {
  padding: 20px;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 20px;
  text-indent: 20px;
  font-weight: 300;
}

.explanation img {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin-left: 60px;
  width: 400px;
}

.explanation img:hover {
  border-color: cadetblue;
}
