.tower-group-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.tower-1-1 {
  align-self: flex-end;
}

.tower-1-2 {
  align-self: center;
}

.tower-1-3 {
  align-self: center;
  order: 1;
}

.tower-1-4 {
  align-self: center;
  order: 0;
}

.tower-1-5 {
  order: 1;
}
