.container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 20px 400px 0 400px;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  text-align: left;
  margin-bottom: 40px;
  font-weight: 500;
}

li:last-child {
  margin-bottom: 0;
  font-weight: 500;
}