.template {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  height: 160px;
  width: 160px;
  border-radius: 10px;
}
