* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 100px;
  border: 1px solid red;
  margin-bottom: 10px;
  padding: 5px;
}
.flex-direction__column {
  flex-direction: column;
}
.justify-content__space-between {
  justify-content: space-between;
}
.justify-content__center {
  justify-content: center;
}
.align-items__flex-start {
  align-items: flex-start;
}
.automatic-box-height {
  height: auto;
}
.ball {
  border-radius: 100%;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.medium {
  width: 50px;
  height: 50px;
}

#exercise-1 {
  animation: leftToRight 3s 1s;
}

#exercise-2 {
  animation: leftToRight 2s 2s forwards;
}

#exercise-3 {
  animation: leftToRight 2s 1s 2 alternate;
}

@keyframes leftToRight {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}
