* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 100px;
  border: 1px solid red;
  margin-bottom: 10px;
  padding: 5px;
}
.flex-direction__column {
  flex-direction: column;
}
.justify-content__space-between {
  justify-content: space-between;
}
.justify-content__center {
  justify-content: center;
}
.align-items__flex-start {
  align-items: flex-start;
}
.automatic-box-height {
  height: auto;
}
.ball {
  border-radius: 100%;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.medium {
  width: 50px;
  height: 50px;
}

#exercise-1 {
  animation: leftToRight 3s 1s;
}

#exercise-2 {
  animation: leftToRight 2s 2s forwards;
}

#exercise-3 {
  animation: leftToRight 2s 1s 2 alternate;
}

#exercise-4:hover {
  animation: leftToRight 5s infinite;
}

#section-5:hover #exercise-5 {
  animation: leftToRight 5s infinite;
}

#exercise-6-square:hover + #exercise-6 {
  animation: rightToLeft 5s infinite alternate;
}

#exercise-7 {
  animation: boxAndBack 10s infinite;
}

#exercise-8 {
  animation: redToYellow 4s;
}

#exercise-9 {
  animation: multipleColors 4s infinite alternate;
}

#exercise-10 {
  -webkit-animation: boxAndBack 4s infinite, multipleColors 4s infinite;
}

#exercise-11_1,
#exercise-11_2,
#exercise-11_3,
#exercise-11_4,
#exercise-11_5 {
  animation: leftToRight 3s 2s infinite;
}

#exercise-11_1 {
  animation-timing-function: linear;
}

#exercise-11_2 {
  animation-timing-function: ease-in-out;
}

#exercise-11_3 {
  animation-timing-function: ease-in;
}

#exercise-11_4 {
  animation-timing-function: ease-out;
}

#exercise-11_5 {
  animation-timing-function: ease-in-out;
}

@keyframes leftToRight {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 95%;
  }
}

@keyframes rightToLeft {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 91%;
  }
}

@keyframes boxAndBack {
  50% {
    padding: 0 50.5%;
  }
}

@keyframes redToYellow {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes multipleColors {
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}
