body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  margin: 0;
}

header {
  height: 100px;
  background-color: rgb(0, 153, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 60px;
}

.cartas {
  margin-left: 20.7%;
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-wrap: wrap;
}


.carta-principal > .carta {
  border: none;
  margin: 0 auto 30px auto;
}

img {
  width: 100px;
  height: 150px;
}

.carta {
  width: 100px;
  height: 150px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

.efeito1 {
  width: 100px;
  height: 150px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: transform 2s;
}

.efeito2 {
  width: 100px;
  height: 150px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: all 400ms ease-in-out;

}

.efeito1:hover {
  transform: rotate(360deg);
}

.efeito2:hover {
  transform: scale(1.5);
}
